@charset "UTF-8";

div.main-frame{
	width: 90%;
    height: 100%;
    border: 1px solid #D5D5D5;
    float: left;
}

label{
	margin-bottom: 0;
}

div.info-title{
	width: 100%; height: 10%;
    border: 1px solid #D5D5D5;
    background-color: black;
    text-align: center;
}

div.info-title > label.title {
	width: 100%; height: 100%;
    font-size: 14pt;
    color: white;
    line-height: 70px;
    font-weight: bold;
}

div.info-reserve {
	width:100%; height: 80%;
	display: flex;
  	justify-content: center;
}

div.info-ticket{
	width:30%; height: 80%;
	border: 2px solid #503396;
	margin: auto;
}

div.reserve-title{
	width: 100%; height: 10%;
	text-align: center;
	background-color: #503396;
}

label.reserve-ticket{
	width: 100%; height: 100%;
	line-height: 40px;
	color: white; font-weight: bold;
}

div.list-ticket{
	width: 100%; height: 90%;
	font-size: 10pt;
	text-align: center;
}

div.list-ticket > label.reserve-list{
	width: 100%; border: 0;
	font-size: 12pt; font-weight: bold;
	margin-top: 10px;
}

div.list-ticket > label.list{
	width: 70px; border: 0;
	margin: 10px;
	font-weight: bold;
}

label.list { text-align: right; }

div.list-ticket > div.info-seat{
	width: 180px;
	display: inline-block;
    text-align: left;
}

div.info-seat > input.info-seat {
	width: 40px; border: 0;
}

div.list-ticket > input.info{
	border:none;
	background-color:transparent;
	width: 180px; outline: none
}

input.reservation{
	color: red;
}
div.mainpage{
	width:100%; height: 10%;
	display: flex;
  	justify-content: center;
}

div.mainpage > input.mainbnt, input.cancelbnt {
	margin: 10px;
	width: 100px; height: 50px;
	border: 1px solid #503396;
	background-color: #503396;
	color: white; font-weight: bold;
	border-radius: 10px;
}