@charset "UTF-8";

hr { margin: 3px; }
.row { text-align: center; }
.col {
	text-align: center; background-color: white;
}
.list-group {
	height: 570px;
    max-height: 800px;
    margin-bottom: 10px;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.list-group-item {
	width: 100%;
}
div #schedule_form {
	border: 1px solid #D5D5D5;
	height: 640px;
}
div #title {
	border: 1px solid #D5D5D5;
	line-height: 50px;
	font-weight: bold;
	font-size: 14pt;
	padding: 10px;
	background-color: black;
	color: white;
}
div #not {
	height: 560px;
	margin-top: 20px;
	font-size: 14pt;
	font-weight: bold;
}
div #next {
	text-align: right;
	height: 40px;
}
label#sub { 
	font-weight: bold;
	margin-top: 10px;
}
div.col > input.nextbtn, input.backbtn {
	height: 40px; color: white;
	font-weight: bold;
	border: 1px solid #4374D9;
	border-radius: 5px;
	background-color: #4374D9;
}
::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}