@charset "UTF-8";
div.main-frame{
	width: 90%; height: 100%;
	border: 1px solid #D5D5D5;
	float:left;
}

div.seat-info{
	width:100%; height: 10%;
	border: 1px solid #D5D5D5;
	background-color: black;
	text-align: center; line-height: 50px;
}

div.seat-info > label.info-title{
	width:100%; height: 10%;
	font-size: 14pt;
	color: white; font-weight: bold;
}

div.theater-info {
	margin: auto auto;
	width: 80%; height: 65%;
	justify-content: center;
	text-align: center;
}

label.screen{
	width:60%; border: 1px solid #bcbcbc;
	margin-top: 20px;
	margin-bottom : 40px;
	background-color: white;
}
input.seatinfo-checkbox { display: none; }

label, .no-seat {
	line-height: 20px; padding: auto;
	font-size: 8pt;
	text-align: center;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}

input[name="seat"] + label {
	display: inline-block;
	background-color: white;
	width: 30px; height: 25px;
	border: 2px solid #bcbcbc;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
}

label.no-seat{
	display: inline-block;
	width: 30px; height: 25px;
	background-color: #BDBDBD;
	border: 1px solid #bcbcbc;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: white;
	font-weight: bold;
}

input[name="seat"]:checked + label {
	background-color: #FF6C6C;
	color: white;
	font-weight: bold;
}

div.seatexample{
	width: 100%; height: 5%;
	justify-content: flex-start;
	text-align: left;
	padding-left: 10px;
}

div.seatexample > div.seatexample{
	width: auto; height: auto;
	justify-content: flex-start;
	text-align: left;
	padding-left: 10px;
}

span.seat{
	display: inline-block;
	width: 20px; height: 15px;
	border: 1px solid #bcbcbc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-right: 5px;
}

span.selected {
	background-color: #BDBDBD;
}

span.choose {
	background-color: white;
}

span.select {
	background-color: #FF6C6C;
}

p.selected {
	display: inline;
	font-size: 8pt;
	font-weight: bold;
}

div.personnel-info{
	width: 100%; height: 20%;
	border: 1px solid #D5D5D5;
	background-color: white;
}

input.personnel-type {
	border: 0;
	text-align: center;
	width: 100px; height: 20px;
}

div.peoples-number {
	display: inline-block;
	border: 1px solid #D5D5D5;
	width: 100px;
}

input.personnel{
	width: 30%; height: 100%;
	border: 0; margin: 0;
}

input.personnel-value{
	width: 30%; height: 100%;
	text-align: center;
	border: 0; margin: 0;
}