* {
	margin: 0pt;
}

.movies {
	display: inline-block;
    width: 230px;
    height: 480px;
    margin: 0px 0px 60px 57px;
}

.movie-center{
	margin-left: -60px;
}

.poster {
	position: relative;
	overflow: hidden;
}

.poster img {
	width: 230px;
	height: 330px;
	
}

.poster img:hover {  
	transform: scale(1.05);
    transition: .3s;
  }
  
  .poster img {  
	transform: scale(1);
    transition: .3s;
  }

.btn-util {
	display: block;
	margin: 10px;
}

.inner-btn {
	border: 1px solid blue;
	width: 80px;
	text-align: center;
	display: inline-block;
	margin: 0px auto 0px auto;
	cursor: pointer;
}

.logo {
	display: inline-block;
	position: absolute;
	left: 350px;
}

.view-path {
	position: sticky;
	top: 230px;
}

.rating {
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.page-util-text{
	vertical-align: text-bottom;
	line-height: 43px;
}

.svg{
    position: relative;
    bottom: 13px;
}

.page-util{
	background-color: #edf7f4;
	height: 43px;
	top: 8px;
    position: relative;
}

.page-util a{
	text-decoration: none;
	color: #666;
	font-weight: 600;
}

.page-util > .inner-wrap{
	height: 100%; 
}

.title{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 2px;
    position: relative;
}

.rank{
	position: absolute;
    left: 0;
    top: 0;
    padding: 8px 0 0 10px;
    line-height: 1.1;
    font-size: 2em;
    font-style: italic;
    font-family: Roboto,Dotum,'돋움',sans-serif;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);
}

#filter-container{
	margin-top:20px;
}

#filter-container > h2{
	display: inline-flex;
}

.custom-select{
	width: 200px;
    float: right;	
}

.grade{
	display:inline-block;
	color: orange;
}

.info-box{
	width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

hr{
    margin-top: 6px;
    margin-bottom: 6px;
}

.reserve-rating {
	display: inline-block;
}

.grade-box{
	display: inline-block;
}

.grade {
	display: inline-block; 
}

.partition {
    height: 14px;
    background-color: lightgray;
    width: 2px;
    margin: 0px 3px -2px 6px;
    display: inline-block;
}