@charset "UTF-8";

hr { margin: 3px; }
.row { text-align: center; }
.col { text-align: center; background-color: white; }
.list-group {
	height: 520px;
    max-height: 800px;
    margin-bottom: 10px;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.list-group-item {
	width: 100%;
}
div #title {
	border: 1px solid #D5D5D5;
	line-height: 50px;
	font-weight: bold;
	font-size: 14pt;
	padding: 5px;
	background-color: black;
	color: white;
}
div #movielist {
	border: 1px solid #D5D5D5;
	height: 640px;
}
div #next {
	text-align: right;
	height: 40px;
}
label#sub { 
	font-weight: bold;
	margin-top: 10px;
}
input.btn.btn-outline-primary {
    font-weight: bold;
}
::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}